
CREATE TABLE dbo.Produto
	(
	Codigo int NOT NULL,
	Nome varchar(50) NOT NULL,
	Valor float(53) NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.Produto ADD CONSTRAINT
	PK_Produto PRIMARY KEY CLUSTERED 
	(
	Codigo
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.Produto SET (LOCK_ESCALATION = TABLE)
GO
